img{
    margin-left: 300px;
}
body{
    height: 1800px;
}
.a{
    width: 815px;
    height: 10px;
    margin-left: 300px;
    margin-top: 45px;
    background-color: #53a4f4;
}
h2{
    margin-left: 600px;
    margin-top: 34px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: #4c4c74;
}
.b{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 34px;
}
.A{
    border: #dbdbdb 2px solid;
    height: 20px;
    margin-left: 330px;
}
.c{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 30px;
}
span{
    color: red;
}
.nan{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 325px;
}
.nv{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 325px;
    margin-top: 10px;
}
.d{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 46px;
}
.B{
    border: #dbdbdb 2px solid;
    height: 20px;
    margin-left: 330px;
}
.e{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 39px;
}
.C{
    border: #dbdbdb 2px solid;
    margin-left: 330px;
}
.f{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 37px;
}
.D{
    border: #dbdbdb 2px solid;
    margin-left: 330px;
}
.g{
    padding: 10px;
    margin-left: 25px;
    margin-top: -29px;
}
.h{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 43px;
}
.E{
    border: #dbdbdb 2px solid;
    margin-left: 330px;
}
.i{
    margin-left: 36px;
    margin-top: -20px;
}
.j{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 43px;
}
.k{
    font-size: 14px;
    color: #666666;
    border: #dbdbdb 2px solid;
    margin-left: 330px;
}
.cl{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 34px;
}
.wj{
    margin-left: 300px;
}
.zz{

    border: #dbdbdb 2px solid;
    height: 40px;
    margin-left: 330px;
}

.ii{
    font-size: 14px;
    color: #666666;
    border: #dbdbdb 2px solid;
}
.xq{
    font-size: 14px;
    color: #666666;
    border: #dbdbdb 2px solid;
}
.dz{
    border: #dbdbdb 2px solid;
    margin-left: 330px;
    margin-top: 10px;
    height: 40px;
}
.xx{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin-left: 332px;
    margin-top: -43px;
}
.yc{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 55px;
}
.qz{

    margin-left: 330px;
}
.ys{
    margin-left: 330px;
}
.gl{
    margin-left: 330px;
}
.qt{

    margin-left: 330px;
}
.L{
    border: #dbdbdb 2px solid;
}
.zz1{
    width: 100px;
    margin-left: 350px;
    margin-top: 30px;
    background-color: #53a4f4;
}
.K{
    margin-left: 218px;
    margin-top: -26px;
}
.jh{
    font-size: 16px;
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 315px;
    margin-top: 30px;
}
.hj{
    border: #dbdbdb 2px solid;
    margin-left: 330px;
    height: 40px;
}
.F{
    margin-left: 235px;
    margin-top: -30px;
}
