.div1{
position: relative;
width: 960px;
height: 1683px;
/*background-color: darkblue;*/
margin: 0 auto;
}
.xd{
    position: absolute;
    left:7.5%;
    top:13px;
}
.div2{
    width: 960px;
    height:278px;
   /* background-color: coral;*/
}
.div3{
    width:960px;
    height:1407px;
   /* background-color: darkgray;*/
}
h3{
    text-align: center;
    font-weight: normal;
}
hr{
    width: 733px;
    height: 3px;
    background-color: blue;
}
h4{
    font-weight: normal;
    padding-left: 120px;
}
.radio{
    padding-left: 120px;
}

button{
     background:#53a4f4;
     color: cornsilk;
     height: 36px;
     width: 102px;
}
span{
    color: red;
}
