.t1{
    
    width: 813px;
    height: 228px;
    margin-top:30px;
    margin-left: 525px;
}
.t2{
    margin-top:60px;
    margin-left: 770px;
}
.hr{
    width: 800px;
    height: 7px;
    margin-top: 45px;
    background-color: #53a4f4;
    margin-left: 550px;
}
.z1{
    margin-left: 550px;
}
.t3{
    margin-left: 550px;
}
.t4{
    margin-left: 550px;
}
.t5{
    margin-left: 550px;
}
.t6{
    margin-left: 550px;
}
.t7{
    margin-left: 550px;
}
.t8{
    margin-left: 550px;
}
.t9{
    margin-left: 550px;
}
.t10{
    margin-left: 550px;
}
.t11{
    margin-left: 550px;
    margin-top: 20px;
}


