body {
    width: 839px;
    height: 1682px;
}

img {
    width: 814px;
    height: 228px;
    margin-left: 12px;
    margin-top: 14px;
}

li {
    list-style: none;
    margin-left: 57px;
    margin-top: 34px;
}

span {
    color: red;
}

.one {
    margin-left: 338px;
    margin-top: 34px;
}

.two {
    height: 3px;
    width: 734px;
    background-color: #0080ff;
    margin-left: 52px;
    margin-top: 46px;
}


.A {
    margin-left: 67px;
    margin-top: 14px;
}

.B {
    margin-left: 67px;
    margin-top: 21px;
}

.C {
    margin-top: 15px;
    margin-left: 67px;
}

.D {
    margin-left: 67px;
    margin-top: 14px;
}

.E {
    margin-top: 14px;
    margin-left: 67px;
}

.F {
    background-image: url(/telephone.png);
    background-size: 10px 14px;
    background-position: 7px 4px;
    background-repeat: no-repeat;
    margin-top: 14px;
    margin-left: 67px;
    padding: 0px;
    border: 1px solid #a9a9a9;
    width: 174px;
    height: 21px;
}

.G {
    margin-left: 67px;
    margin-top: 19px;
}

.H {
    margin-left: 67px;
    margin-top: 5px;
    width: 282px;
    height: 30px;
}

.I {
    background:url(../calendar.png) no-repeat 0 0;
    margin-left: 67px;
    margin-top: 21px;
    border: 1px solid #a9a9a9;
    width: 180px;
    height: 30px;
    background-size: 16px 16px;
    background-position: 160px 7px;
}

.J {
    background: url(../upload.png) no-repeat 0 0;
    width: 732px;
    height: 38px;
    border: 1px solid #a9a9a9;
    background-size: 20px 16px;
    padding-left: 267px;
    margin-left: 67px;
    margin-top: 21px;
    background-position: 245px 11px;
}

.K {
    width: 104px;
    height: 36px;
    border-radius: 3px;
    background-color: #0080ff;
    border: 0px;
    color: #ffffff;
    margin-top: 45px;
    margin-left: 60px;
}
