*{margin: 0px;
    padding: 0px;}

    body{
        margin-left: 20%;
        background: #f5f5f5;
        text-align: center;
        width: 839px;
        height: 1682px;
    }
    table{
        margin-top: 35px;
        border-spacing: 46px;

    }
    header{
        background: #ffffff;
        width: 814px;
    }
    
    p{
        color: #666666;
        display: inline;
    }
    .xx::after{
        color: #ff6d7c;
        content: " *";
    }
    form{
        margin-bottom: 34px;
        text-align: left;
        margin-left: 52px;
    }
    input{
        margin-left: 10px;
        margin-top: 10px;
        outline: none;
    }
    tr{

    }