body{
    margin: 0px;
}
h5{
    padding-bottom: 46px;
    border-bottom: 3px solid #53a4f4;
    text-align: center;
    font-size: 20px;
    margin: 0px 40px;
    margin-top: 34px;
    color: #666666;
}
h6{
    font-weight:lighter;
    color: #666666;
    margin-bottom:14px;
}
form span{
    font-size: 18px;
}
span.yoy{
    margin-right: 4px;
}
.frf{
    margin-left: 11px;
}
.qwe{
    margin-bottom: 14px;
}
.gray{
    color: #666666;
}
.gray1{
    color: #666666;
    margin-right: 10px;
}
.kjk{
    width: 136px;
}
input.ere{
    width: 340px;
    height: 25px;
    
}
form .hiu{
    margin-bottom: 15px;
}
.hiu{
    margin-bottom: 15px;
}
input.ccvvbbnn{
    width: 150px;
    height: 23px;
}
div.ffgg{
    margin-bottom: 10px;
}
input,select,option,textarea{
	border:1px solid #d2d2d2;
    background-color:transparent;
    margin-left: 5px;
}
form{
    margin: 0px 40px;
}
.red{
    color: #ff6d56;
}
textarea{
    resize: none;
    width: 360px;
    height: 46px;
}
.commit{
    left:-9999px;
    position:absolute;
}
label{
    overflow: hidden;
}
div.framework{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #d2d2d2;
}
div span.opi{
    font-size: 18px;
    margin-left: 250px;
    text-align: center;
    color: #666666;
    padding-left: 30px;
}
.wwweerr{
    margin:0px auto;
    width: 815px;
    border: 13px solid #f5f5f5;
}
.ffgb{
    font-size: 16px;
    color: #666666;
}
.fg12{
    width: 180px;
    height: 31px;
}
.llkmlmlml{
    width: 104px;
    height: 36px;
    color: #ffffff;
    background-color: #53a4f4;
    margin-left: 5px;
}
.ccxv{
    position: relative;
}
.fff{
    position: absolute;
    left: 0;
    right: 0;
}
/* @font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zc3mcn');
  src:  url('fonts/icomoon.eot?zc3mcn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zc3mcn') format('truetype'),
    url('fonts/icomoon.woff?zc3mcn') format('woff'),
    url('fonts/icomoon.svg?zc3mcn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE900:before {
  content: "\e900";
} */ 
.mml{
    background: url("image/img2.png") 2px 5px no-repeat;
}
.mml1{
    background: url("image/img1.png") 2px 5px no-repeat;
}
.mml2{
    background: url("image/img3.png") 165px 7px no-repeat;
}