/*文字类*/
.wu {
  margin: 40px 0 0 250px;
}
.hu {
  margin: 40px 0 0 -20px;
}

/*其他类*/
.Z {
  margin: 20px 0 0 270px;
}
.P {
  margin: 20px 0 0 10px;
}
.K:hover {
  filter: alpha(Opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  cursor: pointer;
}
.K {
  margin: 60px 0 0 270px;
}
